services:
  mongodb:
    image: mongo:7.0.0
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db  

volumes:
  minio_data:
  rabbitmq_data:
  mongodb_data:
